In [226]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [227]:
import pandas as pd
import numpy as np

In [228]:
df=pd.DataFrame(np.array([[1,1,"Maths, Algèbre, Matrices, Reduction",1,"Vrai",100],
                         [1,2,"Maths, Algèbre, Matrices, Reduction",1,"App",50],
                         [1,3,"Maths, Algèbre, Matrices, Reduction",1,"App",50],
                         [2,2,"Maths, Algèbre, Matrices, Reduction",1,"Vrai",100],
                         [2,4,"Physique, Mecanique, Newton",2,"Vrai",100],
                         [2,5,"Chimie, pH",3,"App",50],
                         [3,2,"Maths, Algèbre, Matrices, Reduction",1,"Vrai",100],
                         [3,4,"Physique, Mecanique, Newton",2,"Faux",0],
                          [4,4,"Physique, Mecanique, Newton",2,"Vrai",100],
                          [3,5,"Chimie, pH",3,"Faux",0]                        
                         ]),
               columns=["id_eleve","id_question","categorie_quest","categorie_id","reponse","score"])

df

,id_eleve,id_question,categorie_quest,categorie_id,reponse,score
0,1,1,"Maths, Algèbre, Matrices, Reduction",1,Vrai,100
1,1,2,"Maths, Algèbre, Matrices, Reduction",1,App,50
2,1,3,"Maths, Algèbre, Matrices, Reduction",1,App,50
3,2,2,"Maths, Algèbre, Matrices, Reduction",1,Vrai,100
4,2,4,"Physique, Mecanique, Newton",2,Vrai,100
5,2,5,"Chimie, pH",3,App,50
6,3,2,"Maths, Algèbre, Matrices, Reduction",1,Vrai,100
7,3,4,"Physique, Mecanique, Newton",2,Faux,0
8,4,4,"Physique, Mecanique, Newton",2,Vrai,100
9,3,5,"Chimie, pH",3,Faux,0

In [229]:
df.dtypes

id_eleve           object
id_question        object
categorie_quest    object
categorie_id       object
reponse            object
score              object
dtype: object

In [230]:
#On transforme en double

df[["id_eleve","id_question","categorie_id","score"]]=df[["id_eleve","id_question","categorie_id","score"]].astype(float)

In [231]:
df.dtypes

id_eleve           float64
id_question        float64
categorie_quest     object
categorie_id       float64
reponse             object
score              float64
dtype: object

In [232]:
#Calculer la moyenne de chaque étudiant en fonction de la catégorie de question

eleve = df.groupby(["id_eleve","categorie_id","categorie_quest"]).score.mean()
eleve = eleve.reset_index()
eleve

   id_eleve  categorie_id                      categorie_quest       score
0       1.0           1.0  Maths, Algèbre, Matrices, Reduction   66.666667
1       2.0           1.0  Maths, Algèbre, Matrices, Reduction  100.000000
2       2.0           2.0          Physique, Mecanique, Newton  100.000000
3       2.0           3.0                           Chimie, pH   50.000000
4       3.0           1.0  Maths, Algèbre, Matrices, Reduction  100.000000
5       3.0           2.0          Physique, Mecanique, Newton    0.000000
6       3.0           3.0                           Chimie, pH    0.000000
7       4.0           2.0          Physique, Mecanique, Newton  100.000000

In [233]:
#Moyenne dans chaque matière

categorie = df.groupby(["categorie_quest"]).score.mean()
categorie = categorie.reset_index()
categorie

                       categorie_quest      score
0                           Chimie, pH  25.000000
1  Maths, Algèbre, Matrices, Reduction  80.000000
2          Physique, Mecanique, Newton  66.666667

# SkLearn

In [234]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.compose import ColumnTransformer

# on utilisera un pipeline pour enchaîner les traitements
from sklearn.pipeline import Pipeline

# les méthodes de prétraitement
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# les outils de machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

On définit les variables qui vont servir au modèle.

On veut prédire le score de l'élève, si ce score est en dessous d'un certain seuil, alors cette question lui sera proposé, car il n'a pas le niveau et doit s'entrainer.

Pour faire cela, on doit trouver des similarités entre les élèves :

-- La classe :en effet, des élèves qui suivent le même cours sont plus suceptibles de répondre de la même manière.
-- Le lycée dans lequel ils sont.
-- Le nombre d'absences.
-- le nombre de quizz effectué.

In [235]:
df_2=pd.DataFrame(np.array([[1,1,1,10,5],
                            [2,1,1,1,50],
                            [3,2,2,6,5],
                            [4,2,2,12,0]
                           ]),
               columns=["id_eleve","id_ecole","id_classe","nb_absences","nb_quizz"])

df_2

   id_eleve  id_ecole  id_classe  nb_absences  nb_quizz
0         1         1          1           10         5
1         2         1          1            1        50
2         3         2          2            6         5
3         4         2          2           12         0

In [236]:
merged=eleve.merge(df_2, on="id_eleve")
merged

,id_eleve,categorie_id,categorie_quest,score,id_ecole,id_classe,nb_absences,nb_quizz
0,1.0,1.0,"Maths, Algèbre, Matrices, Reduction",66.666667,1,1,10,5
1,2.0,1.0,"Maths, Algèbre, Matrices, Reduction",100.000000,1,1,1,50
2,2.0,2.0,"Physique, Mecanique, Newton",100.000000,1,1,1,50
3,2.0,3.0,"Chimie, pH",50.000000,1,1,1,50
4,3.0,1.0,"Maths, Algèbre, Matrices, Reduction",100.000000,2,2,6,5
5,3.0,2.0,"Physique, Mecanique, Newton",0.000000,2,2,6,5
6,3.0,3.0,"Chimie, pH",0.000000,2,2,6,5
7,4.0,2.0,"Physique, Mecanique, Newton",100.000000,2,2,12,0

In [237]:
merged.groupby(["id_eleve","id_ecole","id_classe"]).mean()

                             categorie_id       score  nb_absences  nb_quizz
id_eleve id_ecole id_classe
1.0      1        1                   1.0   66.666667           10         5
2.0      1        1                   2.0   83.333333            1        50
3.0      2        2                   2.0   33.333333            6         5
4.0      2        2                   2.0  100.000000           12         0

In [238]:
merged.groupby("id_ecole").score.mean()

id_ecole
1    79.166667
2    50.000000
Name: score, dtype: float64

In [239]:
merged.groupby("id_classe").score.mean()

id_classe
1    79.166667
2    50.000000
Name: score, dtype: float64

## Dataset training

In [259]:
data_training=merged[["id_eleve","categorie_id","id_ecole","id_classe","nb_absences","nb_quizz","score"]]
data_training

,id_eleve,categorie_id,id_ecole,id_classe,nb_absences,nb_quizz,score
0,1.0,1.0,1,1,10,5,66.666667
1,2.0,1.0,1,1,1,50,100.000000
2,2.0,2.0,1,1,1,50,100.000000
3,2.0,3.0,1,1,1,50,50.000000
4,3.0,1.0,2,2,6,5,100.000000
5,3.0,2.0,2,2,6,5,0.000000
6,3.0,3.0,2,2,6,5,0.000000
7,4.0,2.0,2,2,12,0,100.000000

In [260]:
data_training.dtypes

id_eleve        float64
categorie_id    float64
id_ecole          int32
id_classe         int32
nb_absences       int32
nb_quizz          int32
score           float64
dtype: object

In [261]:
data_training[["id_eleve","categorie_id","id_ecole","id_classe","nb_absences","nb_quizz","score"]]=data_training[["id_eleve","categorie_id","id_ecole","id_classe","nb_absences","nb_quizz","score"]].astype(float)

C:\Users\nicob\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [262]:
data_training.dtypes

id_eleve        float64
categorie_id    float64
id_ecole        float64
id_classe       float64
nb_absences     float64
nb_quizz        float64
score           float64
dtype: object

In [263]:
#Data

X = data_training.iloc[:, 0:6].values
X

array([[ 1.,  1.,  1.,  1., 10.,  5.],
       [ 2.,  1.,  1.,  1.,  1., 50.],
       [ 2.,  2.,  1.,  1.,  1., 50.],
       [ 2.,  3.,  1.,  1.,  1., 50.],
       [ 3.,  1.,  2.,  2.,  6.,  5.],
       [ 3.,  2.,  2.,  2.,  6.,  5.],
       [ 3.,  3.,  2.,  2.,  6.,  5.],
       [ 4.,  2.,  2.,  2., 12.,  0.]])

In [264]:
#target

y = data_training.iloc[:, 6].values
y

array([ 66.66666667, 100.        , 100.        ,  50.        ,
       100.        ,   0.        ,   0.        , 100.        ])

In [265]:
#Divise training set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [266]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Regression

In [267]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [271]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 40.83333333333333
Mean Squared Error: 1918.0555555555554
Root Mean Squared Error: 43.79561114490304

Pour le tester, il faut ensuite de vrai valeurs...

## Test

In [ ]:
#Création d'un dataset sans les scores

df_target=pd.DataFrame(np.array([[1,2,"Maths, Algèbre, Matrices, Reduction"],
                         [1,2,"Maths, Algèbre, Matrices, Reduction"],
                         [1,3,"Maths, Algèbre, Matrices, Reduction"],
                         [2,12,"Physique, Mecanique, Newton"],
                         [2,4,"Physique, Mecanique, Newton"],
                         [2,5,"Chimie, pH"],
                         [2,50,"Chimie, pH"],
                         [3,2,"Maths, Algèbre, Matrices, Reduction"],
                         [3,4,"Physique, Mecanique, Newton"],
                          [4,4,"Physique, Mecanique, Newton"],
                          [3,5,"Chimie, pH"]                        
                         ]),
               columns=["id_eleve","id_question","categorie_quest"])

df_target